<%= form_tag catalog_index_path, :class => 'advanced', :method => :get do  %>

  <%= search_as_hidden_fields(:params => advanced_search_context ) %>  

<div class="row-fluid">
  <div class="span16">
    <div class="page-gutter">
      <h1>Advanced search</h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span5">
    <div class="page-gutter">
    <h3 class="advanced">Categories <small>Limit your search</small></h3>
      <div class="limit_input">
        <%= render 'advanced_search_facets' %>
      </div>
    </div>
  </div>

  <div class="span10">
    <div class="page-gutter">
    <h3 class="advanced">Search <small>Options</small></h3>
      <div class="query_column column">
        <div class="well">
          <p>Find items that match <%= select_tag(:op, options_for_select({'all'=>'AND','any'=>'OR'}.sort,'all'), :class=>'input-small') %> of the fields below</p>
        </div>
        <div id="advanced_search">
          <%= render 'advanced/advanced_search_fields' %>
        </div>        
      </div>

      <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
        <div class="constraints">
          <h3>Within search</h3>
          <%= search_context_str %>
        </div>
      <% end %>

      <div class="form-group advanced-search-facet">
        <%= label_tag "publication_date", :class => "col-sm-3 control-label" do %>
            Date range:
        <% end %>

        <div class="col-sm-9">
            <%= render_range_input("pub_date_sort", :begin) %> - <%= render_range_input("pub_date_sort", :end) %>      
        </div>
      </div>


      <div class="limit_column column">      
        <h3>Sort <small>Results by</small></h3>
      </div> 

      <div class="sort_submit_buttons">
        <%= label_tag(:sort, "") %> 

        <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort]))) %>

      <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>

      <hr/>

      <%= submit_tag 'Search', :class=>'advanced_button btn square-corners', :id=>'advanced_search' %>
      
      <span class="pull-right">
        <%= link_to "Start again", {:controller => "advanced", :action => "index"}, :class =>"reset advanced_button" %>
      </span>
      </div>
    </div>
  </div>
</div>
<% end %>
