<div class="span5">
    <div class="tile tile-light-grey tile-shadow-right" style="height: 450px;">
        <h2>Quick links</h2>
        <p>
            <i class="icon-eye-open"></i>
            <%= link_to 'My Library account →', 'https://library.hull.ac.uk/patroninfo', :class => 'read-article', :title => 'Click to go to your Library account'  %>
        </p>
        <p>
            <i class="icon-book"></i>
            <%= link_to 'Electronic journals A-Z list →', 'http://zc7xc9dq8b.search.serialssolutions.com/', :class => 'read-article', :title => 'Click to go to Electronic journals A-Z list'  %>
        </p>
        <p>
            <i class="icon-question-sign"></i>
            <%= link_to 'Help →', 'http://libanswers.hull.ac.uk/', :class => 'read-article', :title => 'Click to go to Help'  %>
        </p>
        <p>
            <i class="icon-pencil"></i>
            <%= link_to 'Subject LibGuides →', 'http://www.hull.ac.uk/Choose-Hull/Study-at-Hull/Library/resources/libguides/Subject-LibGuides.aspx', :class => 'read-article', :title => 'Click to go to Subject LibGuides'  %>
        </p>
        <p>
            <i class="icon-time"></i>
            <%= link_to 'Opening hours →', 'http://www.hull.ac.uk/Choose-Hull/Study-at-Hull/Library/index.aspx#OpeningTimes', :class => 'read-article', :title => 'Click to go to Opening hours'  %>
        </p>
        <p>
            <i class="icon-search"></i>
            <%= link_to 'Summon →', 'http://libguides.hull.ac.uk/summon', :class => 'read-article', :title => 'Click to go to Summon'  %>
        </p>
        <p>
            <i class="icon-bookmark"></i>
            <%= link_to 'Reading lists →', 'http://readinglists.hull.ac.uk/index.html', :class => 'read-article', :title => 'Click to go to Reading Lists'  %>
        </p>
        <p>
            <i class="icon-file"></i>
            <%= link_to 'Exam papers →', 'http://www.hull.ac.uk/Choose-Hull/Study-at-Hull/Library/resources/electronic-resources/exampapers.aspx', :class => 'read-article', :title => 'Click to go to the Exam papers information page'  %>
        </p>        
        <p>
            <i class="icon-retweet"></i>
            <%= link_to 'Inter-library loans →', 'http://www.hull.ac.uk/Choose-Hull/Study-at-Hull/Library/services/Borrowing/Inter-Library-Loans.aspx', :class => 'read-article', :title => 'Click for information about Inter-library loans'  %>
        </p>
        <p>
            <i class="icon-info-sign"></i>
            <%= link_to 'Suggest a purchase →', 'http://www.hull.ac.uk/Choose-Hull/Study-at-Hull/Library/services/Borrowing/suggest-a-purchase.aspx', :class => 'read-article', :title => 'Click to go to the suggest a purchase form'  %>
        <p>
            <i class="icon-info-sign"></i>
            <%= link_to 'Cookies →', '/cookies', :class => 'read-article', :title => 'Click to go to Cookies'  %>
        </p>
    </div>
</div>
