<h2>Announcements</h2>

<article class="news-article">
    <time class="bar-time" datetime="2014-09-25">September 25, 2014</time>
    <h3>Recent enhancements</h3>
    <p class="doc">
    Recent enhancements to the catalogue have been made to improve its use based on user feedback. If you have ideas for further improvement or other feedback, please let us know via the feedback form. The feedback form is available at the bottom of each page, or you could contact  <%= link_to 'libhelp@hull.ac.uk', 'mailto:libhelp@hull.ac.uk?subject="Blah: User Feedback" ' %>. An <%= link_to 'FAQ', '/faq', :class => 'read-article', :title => 'Click to view FAQs'  %> also provides general information on how the catalogue works.
    </p>
    <div class="tile-btn-primary">
        <%= link_to 'Leave feedback →', '/contact', :class => 'read-article', :title => 'Click to leave feedback'  %>
    </div>
     <div class="tile-btn-primary">
        <%= link_to 'FAQ →', '/faq', :class => 'read-article', :title => 'Click to view FAQs'  %>
    </div>
</article>

<article class="news-article">
    <time class="bar-time" datetime="2014-09-24">September 24, 2014</time>
    <h3>The Library’s catalogue search interface</h3>
    <p class="doc">
    Welcome to the Library’s catalogue search interface. The catalogue provides a information on all resources held or provided through the Library. It can be accessed via the Information Points in the Library or directly at <%= link_to 'http://libsearch.hull.ac.uk', 'http://libsearch.hull.ac.uk/' %> on mobile and tablet devices as well as desktops/laptops.
    </p>
<!--     <div class="tile-btn-primary">l
    <a href="/" title="Click to read this article" class="read-article">Read article →</a>
    </div> -->
</article>