<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">      
  <%= render :partial => 'shared/home_search_tile' %>      
</div>

<div class="row-fluid"> 
  <%= render :partial => 'shared/home_announcement_tile' %>    
</div>

<div class="row-fluid">
  <%= render :partial => 'shared/home_browse_tile' %>
  <%= render :partial => 'shared/home_quick_links_tile' %>             
</div>
    
<div class="row-fluid">
  <%= render :partial => 'shared/home_twitter_alternative_tile' %>   
</div>


