<% # container for a single doc -%>
<div class="document <%= render_document_class document %> hidden-phone row-fluid">

      <div class="span2">
        <div class="cover-art">
          <%= link_to document, :'data-counter' => (document_counter + 1 + @response.params[:start].to_i) do %>
            <%= render_book_cover_img(document) %>
          <% end %>
        </div>        
      </div>
      <div class="span10 page-gutter">
        <h4 class="remove-margin-top">
          <%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
          <%# document_show_link_proc - See BlahHelper (Returns a title or title/sub-title combined) %>
          <%= link_to_document document, :label=>document_show_link_proc(:truncate => 120), :counter => (document_counter + 1 + @response.params[:start].to_i) %>
        </h4>
        <% # main container for doc partial view -%>
        <%= render_document_partial document, :index, :document_counter => document_counter  %>
      </div>
         
      <div class="span4"> 
        <span class="pull-right">
          <%= render :partial => 'document_tools', :locals => { :document => document, :document_counter => document_counter } %>
        </span>
      </div> 

</div>

<div class="document document-phone <%= render_document_class document %> visible-phone row well">
  <div class="span7">
    <h3>
      <%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
      <%# document_show_link_proc - See BlahHelper (Returns a title or title/sub-title combined) %>
      <%= link_to_document document, :label=>document_show_link_proc(:truncate => 120), :counter => (document_counter + 1 + @response.params[:start].to_i) %>
    </h3>
  </div>  

  <div class="span2">
    <div class="cover-art">
      <%= link_to document, :'data-counter' => (document_counter + 1 + @response.params[:start].to_i) do %>
        <%= render_book_cover_img(document) %>
      <% end %>
    </div>        
  </div>

  <div class="span2">
    <%= render :partial => 'document_tools', :locals => { :document => document, :document_counter => document_counter } %>
  </div>  

  <div class="span7">
    <% # main container for doc partial view -%>
    <%= render_document_partial document, :index, :document_counter => document_counter  %>
  </div> 

</div>