<div id="desktop-search-bar" class="navbar-inner hidden-phone">
  <div class="container">

   </div>
  </div>

<div class="subnav navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <div class="row-fluid">
        <div>

          <div class="subnav-position">
            <%= form_tag search_action_url, :method => :get, :class => 'form-inline form-search form-sub-search'  do %>
            <span><%= label_tag(:q, t('blacklight.search.form.q')) %></span>
            <%= text_field_tag :q, params[:q], :class =>  "q input-xxlarge search-query square-corners", :placeholder => 'Search the catalogue...' %>
            <% unless search_fields.empty? %>
              <%= label_tag(:search_field, " #{t('blacklight.search.form.search_field.label')} ") %>
              <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field square-corners") %>
            <% end %>
            <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %> 
            <%= submit_tag 'Search', :class=>'btn square-corners' %>
            <%= link_to 'Advanced search', params.merge(:controller=>"advanced", :action=>"index") , :class=>"advanced_search"%> 
              </div>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

