<div class="row-fluid">
  <div id="document-header" class="span16">
    <%= render_document_heading(:h2).html_safe %>   
    <%#= display_field_within_element(document, 'author_display' , element='h2') %>
    <%= display_field_search_link_within_element(document, 'author_display', 'h3', element_class=nil, '', 'author') %>

    <%= display_field_within_element(document, 'title_series_t' , element='h5') %> 

    <%= display_field_search_link_within_element(document, 'author_addl_t', 'h5', element_class=nil, '', 'author') %>

    <%= display_field_search_link_within_element(document, 'author_vern_display', 'h5', element_class=nil, '', 'author') %>

    <%= display_field_within_element(document, 'corporate_author_display' , element='h5') %>

    <%= display_field_within_element(document, 'pub_date' , element='p') %>

    <%= display_field_within_element(document, 'edition_display' , element='p') %>

  </div>
</div>
<div class="row-fluid">
            <div class="span4 hidden-phone">
              <div id="cover-art">
                <%= render_book_cover_img(document) %>
              </div>
            </div><!--/span-->
            
            <div class="span1 visible-phone">
              <div id="cover-art-phone">
                <span class="cover-art-image"><%= render_book_cover_img(document) %></span>
              </div>
            </div><!--/span-->

            <div class="span12">
              <h3>Record</h3>
              <dl class="dl-vertical-left  dl-invert">
                <%= display_field_search_link(document, 'subject_t', 'Subject', 'subject', '', 'subject') %>
                <%= display_field(document, 'language_facet', 'Language', 'language') %>
                <%= display_call_number(document) %>
              </dl>
              <h3>Publication information</h3>
              <dl class="dl-vertical-left dl-invert">
                <%= display_field(document, 'frequency_display', 'Frequency', 'frequency') %>
                <%= display_field(document, 'format', 'Format', 'format') %>
                <%= display_field(document, 'published_display', 'Published', 'pub') %>
                <%= display_field(document, 'published_vern_display', 'Published', 'pub') %>
                <%= display_field(document, 'periodical_pub_date_display', 'Publish note', 'published') %>
                <%= display_field(document, 'isbn_t', 'ISBN', 'isbn') %>
                <%= display_field(document, 'issn_t', 'ISSN', 'issn') %>
                <%= display_field(document, 'ismn_t', 'ISMN', 'ismn') %>
                <%= display_field(document, 'other_display', 'Publisher No', 'other') %>
                <%= display_field(document, 'description_display', 'Description', 'description') %>
                <%= display_field(document, 'contents_display', 'Contents', 'contents') %>
                <%= display_field(document, 'scale_display', 'Scale', 'scale') %>
                <%= display_field(document, 'performer_display', 'Performer(s)', 'performers') %>
                <%= display_field(document, 'cast_display', 'Cast', 'cast') %>  
                <%= display_field(document, 'credits_display', 'Credits', 'credits') %>
                <%= display_field(document, 'note_display', 'Note', 'note') %>
                <%= display_field(document, 'with_display', 'With', 'with') %>
              </dl>             
              <%= display_related_items( document ) %>        
           </div>
</div>


