<div class="container-gutter">
  <h3>Availability</h3> 
</div>
<div id="availability-nav" class="sidebar-nav well square-corners">
  <% if !@library_item.nil? && @library_item.inter_library_loan? %>
      <p>Available through <%= link_to "Inter-Library Loan", inter_library_loan_url %></p>
  <% else %>
    <% unless @document["format"] == "Electronic resource" %>
      <p><%= render_millennium_record_link "Find loan period information here" %></p>
    <% end %>
  <% end %>

  <% #This will be set to display:block using javascript if no holdings/online resources are present -See holdings_record.js -%>
  <p id="no-holdings" class="hide"><%= t('blah.item.holdings.no_holdings_information') %></p>
  <%= render_holdings_html_partial(@library_item) unless @library_item.nil? %>
  <%= render_online_resources_partial(@document) %>

  <% unless @document["format"] == "E-Journal" || 
    @document["format"] == "E-Book" ||
    @document["format"] == "Electronic resource" %>
  <% end %>

</div>
