<div class="row-fluid visible-desktop visible-tablet">
  <div id="content" class="span10">
    <div class="page-gutter">
      <%# this should be in a partial -%>
      <div id="document" class="<%= render_document_class %>">
        <div id="doc_<%= @document.id.to_s.parameterize %>">
        
        <%= render 'previous_next_doc' %>

          <% # bookmark/folder functions -%>
          <%= render_show_doc_actions @document %> 
       
          <div class="document">
            <%= render_document_partial @document, :show %>
          </div>

          <!-- Desktop tools go above the document -->
          <div class="tools hidden-tablet">     
              <%= render :partial => 'show_tools' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="page-gutter">
      <div class="row">
        <div class="span16">
          <%= render :partial => 'show_availability' %>
        </div>
      </div>
      <div class="row">
        <div class="reading-lists-container span16 hide">
          <%= render :partial => 'show_reading_lists' %>
        </div>
      </div>
    </div>
  </div>
</div>
