<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="description" content="">
    <meta name="author" content="">
     <% #meta tags for customising view on Apple devices -%>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

     <%= render :partial => 'shared/head_favicon_links' %>
     <%= render :partial => 'shared/head_add_to_home' %>

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>         

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>  

    <%= javascript_include_tag 'stay_standalone' %> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <%= render :partial => 'shared/header_navbar' %>

      <!-- /container -->
      <div id="home-background-container">
        <div id="main-container" class="container">
          <div class="inner-container">
            <!-- Main hero unit for a primary marketing message or call to action -->
          <div class="row">      
            <%= render :partial => 'shared/home_search_tile' %>      
          </div>

        <div class="row"> 
           <%= render :partial => 'shared/home_announcement_tile' %>    
        </div>

       <!-- Desktop -->
      <div id="tile-row1" class="row visible-desktop">
          <div class="span4 offset2">
            <div id="browse-tile" class="tile-shadow tile-white generic-tile">
              <div id="browse-tile-container">
                <%= render :partial => 'shared/home_browse_tile' %>        
              </div>
            </div>
          </div>
           
          <div class="span4">
            <div id="links-tile" class="tile-shadow tile-white generic-tile">
              <%= render :partial => 'shared/home_quick_links_tile' %>    
          </div>  

        </div>
      </div>
    <!-- EOF Desktop -->

    <!-- Tablet -->
      <div id="tile-row1" class="row visible-tablet">
        <div class="span6">
          <div id="browse-tile" class="tile-shadow tile-white generic-tile">
            <div id="browse-tile-container">
              <%= render :partial => 'shared/home_browse_tile' %> 
            </div>
          </div>
        </div>     
       <!-- Phone browse tile -->
        <div  class="span6">
          <div id="links-tile" class="visible-tablet tile-shadow tile-white generic-tile">
            <%= render :partial => 'shared/home_quick_links_tile' %>    
          </div>
        </div>
    </div>
    <!-- EOF Tablet -->

    <!-- phone -->
    <div class="row visible-phone">
      <div class="span6">
        <div class="generic-tile-phone generic-tile visible-phone tile-grey" id="browse-tile generic-tile">
          <div id="browse-tile-container">
             <%= render :partial => 'shared/home_browse_tile' %>         
          </div>
        </div>
      </div>
      <div  class="span6">
        <div class="generic-tile-phone generic-tile links-tile-phone visible-phone tile-white generic-tile" id="links-tile-phone">
            <%= render :partial => 'shared/home_quick_links_tile' %>   
          </div>  
      </div>
    </div>

      <div class="row">
        <%= render :partial => 'shared/home_twitter_tile' %>   
      </div>
     </div> 
    </div>
    <%= render :partial => 'shared/feedback_element' %>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>

