<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
     <script type="text/javascript">
    var addToHomeConfig = {
      animationIn: 'bubble',
      animationOut: 'drop',
      lifespan:10000,
      expire:2,
      touchIcon:true,
      message:'Install the Blacklight Libary Catalogue web app on your <strong>%device</strong>. Tap `%icon` and then the green Blacklight icon.'
    };
    </script>

    <%= favicon_link_tag asset_path('blah/uni-favicon.ico') %>
    <link rel="apple-touch-startup-image" href="<%= asset_path('blah/blacklight-splash.png')%>">
    <!-- iPad (portrait) -->
    <link href="<%= asset_path('blah/blacklight-splash-768-portrait.png')%>" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) -->
    <link  href="<%= asset_path('blah/blacklight-splash-768-landscape.png')%>" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">

    <%= favicon_link_tag asset_path('blah/blacklight-icon-512-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "512x512" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-114-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "114x114" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-72-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "72x72" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-57-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "57x57" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-48-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "48x48" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-29-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "29x29" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>

    <% #Add2Home functionality for iOS devices  -%>
    <%= stylesheet_link_tag 'add2home' %>
    <%= javascript_include_tag 'add2home' %>

    <!-- consider moving -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
      <%= render :partial => 'shared/header_navbar' %>

    <!-- /container -->
    <div id="home-background-container">
        <div id="main-container" class="container">
          <div class="inner-container">
            <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">      
         <div class="span8 offset2 visible-desktop">
            <div id="search-tile-layout" class="hero-unit tile-shadow">
              <div id="search-tile">
                <h2>Search the catalogue...</h2>
                <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and other periodicals, plus more: </p>
                <%= render :partial => 'home_search_form' %>
             </div>  
          </div>
        </div>

        <!-- tablet -->
        <div class="span12 visible-tablet">
            <div id="search-tile-layout" class="hero-unit tile-shadow">
              <div id="search-tile">
                <h2>Search the catalogue...</h2>
                <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and other periodicals, plus more: </p>
                <%= render :partial => 'home_search_form' %>
            </div>  
          </div>
        </div>

        <!-- phone -->
        <div class="span12 visible-phone">      
            <div class="generic-tile-layout-phone" id="search-tile-layout-phone">
              <div id="search-tile">
                <h2>Search the catalogue...</h2>
                <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and other periodicals, plus more: </p>
                 <%= render :partial => 'home_search_form' %>
              </div>
            </div>     
        </div>
    </div>

    <!-- Desktop -->
      <div id="tile-row1" class="row visible-desktop">
            <div class="span4 offset2">
            <div id="browse-tile" class="tile-shadow">
              <div id="browse-tile-container">
                <%= render :partial => 'shared/home_browse_tile' %>        
              </div>
              </div>
      </div>
           
    <div class="span4">
      <div id="links-tile" class="tile-shadow">
        <%= render :partial => 'shared/home_quick_links_tile' %>    
      </div>  

        </div>
    </div>
    <!-- EOF Desktop -->

    <!-- Tablet -->

          <div id="tile-row1" class="row visible-tablet">
            <div class="span6">
            <div id="browse-tile" class="tile-shadow">
              <div id="browse-tile-container">
                 <%= render :partial => 'shared/home_browse_tile' %> 
              </div>
            </div>
           </div>
     
    <!-- Phone browse tile -->
        
      <div  class="span6">
        <div id="links-tile" class="visible-tablet tile-shadow">
          <%= render :partial => 'shared/home_quick_links_tile' %>    
        </div>
      </div>
    </div>

    <!-- EOF Desktop -->

    <!-- phone -->

      <div class="span6">
        <div class="generic-tile-layout-phone visible-phone" id="browse-tile">
          <div id="browse-tile-container">
             <%= render :partial => 'shared/home_browse_tile' %>         
          </div>
        </div>
      </div>

        <div  class="span6">
          <div class="generic-tile-layout-phone links-tile-phone visible-phone" id="links-tile">
                  <%= render :partial => 'shared/home_quick_links_tile' %>   
           </div>  
        </div>
      </div>

      <div id="tile-row2" class="row">
        <!-- Desktop social -->
        <div class="span8 offset2 visible-desktop">
          <%= render :partial => 'shared/home_twitter_tile' %>   
        </div> <!-- /container -->

        <!-- Tablet/phones social -->
       <div class="span12  hidden-desktop">
        <%= render :partial => 'shared/home_twitter_tile' %>   
       </div> <!-- /container -->
     </div>      
     </div> 
    </div>
    <%= render :partial => 'shared/feedback_element' %>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>

