<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>
    <!-- consider moving -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!-- consider moving -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
      <%= render :partial => 'shared/header_navbar' %>

    <!-- /container -->
    <div id="home-background-container">
        <div id="main-container" class="container">
          <div class="inner-container">
            <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">
      

    <div class="span8 offset2 visible-desktop">
        <div id="search-tile-layout" class="hero-unit">
          <div id="search-tile">
            <h2>Search the catalog...</h2>
            <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and other periodicals, plus more: </p>
            <%= render :partial => 'home_search_form' %>
         </div>  
      </div>
    </div>

    <!-- tablet -->
    <div class="span12 visible-tablet">
        <div id="search-tile-layout" class="hero-unit">
          <div id="search-tile">
            <h2>Search the catalog...</h2>
            <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and other periodicals, plus more: </p>
              <%= render :partial => 'home_search_form' %>
        </div>  
      </div>
    </div>

    <!-- phone -->
    <div class="span12 visible-phone">
    <div class="row">
        <div class="generic-tile-layout-phone" id="search-tile-layout-phone" class="">
          <div id="search-tile">
            <h2>Search the catalog...</h2>
             <%= render :partial => 'home_search_form' %>
    </div>
    </div>  
      </div>
    </div>


    </div>

    <!-- Desktop -->
      <div id="tile-row1" class="row visible-desktop">
            <div class="span4 offset2">
            <div id="browse-tile">
              <div id="browse-tile-container">
                <%= render :partial => 'shared/home_browse_tile' %>        
              </div>
              </div>
      </div>
           
    <div  class="span4">
      <div id="links-tile">
        <%= render :partial => 'shared/home_quick_links_tile' %>    
      </div>  

        </div>
    </div>
    <!-- EOF Desktop -->

    <!-- Tablet -->

          <div id="tile-row1" class="row visible-tablet">
            <div class="span6">
            <div id="browse-tile">
              <div id="browse-tile-container">
                 <%= render :partial => 'shared/home_browse_tile' %> 
              </div>
            </div>
           </div>
     
    <!-- Phone browse tile -->
        
      <div  class="span6">
        <div id="links-tile" class="visible-tablet">
          <%= render :partial => 'shared/home_quick_links_tile' %>    
        </div>
      </div>
    </div>

    <!-- EOF Desktop -->

    <!-- phone -->

      <div class="span6">
        <div class="generic-tile-layout-phone visible-phone" id="browse-tile">
          <div id="browse-tile-container">
             <%= render :partial => 'shared/home_browse_tile' %>         
          </div>
        </div>
      </div>

        <div  class="span6">
          <div class="generic-tile-layout-phone links-tile-phone visible-phone" id="links-tile">
                  <%= render :partial => 'shared/home_quick_links_tile' %>   
           </div>  
        </div>
      </div>

      <div id="tile-row2" class="row">
        <!-- Desktop social -->
        <div class="span8 offset2 visible-desktop">
          <%= render :partial => 'shared/home_twitter_tile' %>   
        </div> <!-- /container -->

        <!-- Tablet/phones social -->
       <div class="span12  hidden-desktop">
        <%= render :partial => 'shared/home_twitter_tile' %>   
       </div> <!-- /container -->
     </div>      
     </div> 
    </div>
    <%= render :partial => 'shared/feedback_element' %>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>

