<div class="row">
    <div class="offset10 span2">
      <%= render_document_sidebar_partial  %>
    </div>
    <div id="content" class="span8">
       
      <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
      <% extra_head_content << render_link_rel_alternates %>
      <% sidebar_items << render_document_sidebar_partial %>

      <% search_bar << capture do %>
        <%= render :partial=>'search_form' %>
      <% end %>

      <div class="show">
        <%= render 'constraints', :localized_params=>session[:search] %>
      </div>

      <div class="pageEntriesInfo">
        <%= item_page_entry_info %>
        <%=link_to " (#{t('blacklight.search.start_over')}) ", root_path , :id=>"startOverLink" %>
      </div>
    </div>
</div>
<div class="row">
  <div id="content" class="span8">

    <%# this should be in a partial -%>
    <div id="document" class="<%= render_document_class %>">
      <div id="doc_<%= @document.id.to_s.parameterize %>">
      
        <!-- Desktop tools go above the document -->
        <div class="tools visible-desktop">     
            <%= render :partial => 'show_tools' %>
        </div>
         
        <% # bookmark/folder functions -%>
        <%= render_show_doc_actions @document %> 
     
        <div class="document">
          <%= render_document_partial @document, :show %>
        </div>

         <!-- Tablet and mobile tools go below the document -->
        <div class="tools hidden-desktop">
          <%= render :partial => 'show_tools' %>
        </div>

      </div>
    </div>
    <%= render 'previous_next_doc' %>

      <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
        <!-- 
             // COinS, for Zotero among others. 
             // This document_partial_name(@document) business is not quite right,
             // but has been there for a while. 
        -->
        <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
      <% end %>

    </div>
    <div class="span4">
      <%= render :partial => 'show_availability' %>
    </div>
</div>
