<div class="row">  
    <div id="content" class="span10">       
      <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
      <% extra_head_content << render_link_rel_alternates %>     
      <%# search_bar << capture do %>
        <%#= render :partial=>'search_form' %>
      <%# end %>

      <div class="show">
        <%= render 'constraints', :localized_params=>session[:search] %>
      </div>

      <div class="pageEntriesInfo hidden-phone">
        <%= item_page_entry_info %>
        <%=link_to " (#{t('blacklight.search.start_over')}) ", root_path , :id=>"startOverLink" %>
      </div>
      <div class="pageEntriesInfo visible-phone phone-margins">
        <%= item_page_entry_info %>
        <%=link_to " (#{t('blacklight.search.start_over')}) ", root_path , :id=>"startOverLink" %>
      </div>
    </div>
    <div class="span2 hidden-phone">
      <%= render_document_sidebar_partial  %>
    </div>
    <div class="span2 visible-phone phone-margins">
      <%= render_document_sidebar_partial  %>
    </div>
</div>
<%= render :partial=>'show_elements_desktop' %>
<%= render :partial=>'show_elements_moblet' %>



