<h1><%= t('blah.contact_form.title') %></h1>
<p><%= t('blah.contact_form.description') %></p>
<%= form_for @message, :url => contact_path, :html => { :honeypot => true } do |form| %>
  <fieldset class="fields">
    <h3>Your Details</h3>
    <div class="field">
      <%= form.label :name, t('blah.contact_form.name')  %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :email, t('blah.contact_form.email') %>
      <%= form.text_field :email %>
    </div>
    <h3>Your Message</h3>
    <div class="field">
      <%= form.label :subject, t('blah.contact_form.subject') %>
      <%= form.text_field :subject %>
    </div>
    
    <div class="field">
      <%= form.label :body, t('blah.contact_form.body') %>
      <%= form.text_area :body %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send message" %>
  </fieldset>
<% end %>


