<div class="page-gutter">
  <h1><%= t('blah.contact_form.title') %></h1>
  <div class="well">
    <p>
      <%= t('blah.contact_form.description') %>
    </p>
  </div>
  <%= form_for @message, :url => contact_path, :html => { :honeypot => true } do |form| %>
    <fieldset class="fields">
      <h3>Your Details</h3>
      <div class="field">
        <%= form.label :name, t('blah.contact_form.name'), :class=> 'form-label' %>
        <%= form.text_field :name, :class=> 'input-xxlarge', :placeholder=> 'Please enter your name...' %>
      </div>
      <div class="field">
        <%= form.label :email, t('blah.contact_form.email'), :class=> 'form-label' %>
        <%= form.text_field :email, :class=> 'input-xxlarge', :placeholder=> 'Please enter your email address...' %>
      </div>
      <h3>Your Message</h3>
      <div class="field">
        <%= form.label :subject, t('blah.contact_form.subject'), :class=> 'form-label' %>
        <%= form.text_field :subject, :class=> 'input-xxlarge',  :placeholder=> 'Please enter a subject title...' %>
      </div>
      
      <div class="field">
        <%= form.label :body, t('blah.contact_form.body'), :class=> 'form-label' %>
        <%= form.text_area :body, :class=> 'input-xxlarge', :placeholder=> 'Please enter your feedback...' %>
      </div>
    </fieldset>
    
    <hr/>

    <fieldset class="actions">
      <%= form.submit "Send feedback", :class=> 'btn square-corners' %>
    </fieldset>
  <% end %>
</div>
