<li>
  <%= link_to 'Home', '/' %>
</li>
<li>
  <%= link_to 'My Library account', 'https://library.hull.ac.uk/patroninfo' %>
</li>

<% if has_user_authentication_provider? %>
  <li>
  <% if current_user %>
    <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %> <%= current_user %>
  <% else %>
     <% #Taken out login link for now... -%>
    <%#= link_to t('blacklight.header_links.login'), new_user_session_path %>
  <% end %>
</li>
<% end %>

<% if current_or_guest_user %>
  <li>
    <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
  </li>
<% end %>
<% if has_user_authentication_provider? and current_user %>
  <li>
    <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
  </li>
<% end %>
<li>
  <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
</li>
<li>
  <%= link_to t('blah.header_links.faq'), faq_path %>
</li>
<li>
  <%= link_to t('blah.header_links.millen_catalogue'), 'http://library.hull.ac.uk/' %>
</li>
