<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <% #meta tags for customising view on Apple devices -%>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
 
    <%= render :partial => 'shared/head_favicon_links' %>

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>    
  
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'stay_standalone' %> 

    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
  </head>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class %>">
    <%= render :partial => 'shared/header_navbar' %>

    <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

    <div class="page-wrapper">
     
      <% # Use a different background-container div for the home page %>
      <% if (current_page?(controller: 'home', action: 'show')) %>
        <div id="background-container" class="container">
      <% else %>
        <div id="background-container-form" class="container">
      <% end %>

        <div class="inner-container">    
          <% if !(current_page?(controller: 'home', action: 'show')) %>
            <div id="form-container">
          <% end %>
          <div class="container-fluid">
            <!-- Top bar 
            <div id="search-found" class="row hidden-phone">
              <%#= topbar_items.join('').html_safe %>
            </div>
            -->
            <!-- /Top bar -->
            <div class="row-fluid">
              <% if !(current_page?(controller: 'home', action: 'show')) %>
                <div class="desktop-top-spacer visible-desktop"></div>
                <div class="tablet-top-spacer visible-tablet"></div>
              <% end %>
              <%= render :partial=>'/flash_msg' %>
            </div>
            <%= yield %>
          </div>

          <% if !(current_page?(controller: 'home', action: 'show')) %>
            </div>
          <% end %>
        </div>  
      </div>
        <%= render :partial => 'shared/feedback_element' %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>