<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

    <script type="text/javascript">
          var addthis_config =
          {
            ui_click: true,
            data_ga_property:'UA-34485476-2',
            data_ga_social : true,
            services_compact:  'twitter,facebook,google_plusone,google_plusone_share,pinterest,stumbleupon,delicious,digg,blogger,tumblr,favorites'
          }
    </script>
    <link rel="apple-touch-startup-image" href="<%= asset_path('blah/blacklight-splash.png')%>">
    <%= favicon_link_tag asset_path('blah/uni-favicon.ico') %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-512-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "512x512" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-114-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "114x114" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-72-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "72x72" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-57-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "57x57" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-48-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "48x48" %>
    <%= favicon_link_tag asset_path('blah/blacklight-icon-29-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "29x29" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>

    <!-- consider moving -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
  </head>
  <body>
    <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
    <%= render :partial => 'shared/header_navbar' %>
    <!-- /container -->
    <div id="background-container">
      <div class="visible-desktop" id="top-spacer">
        &nbsp;
      </div>
      <div id="main-container" class="container">
            <div class="inner-container">
                <!-- Top bar -->
                <div id="search-found" class="row-fluid hidden-phone">
                  <%= topbar_items.join('').html_safe %>
                </div>
                <!-- /Top bar -->
                <!-- sidebar -->
                <div class="container">
                      <div class="row">
                          <div class="span10">
                            <%= render :partial=>'/flash_msg' %>
                          </div>
                      </div>
                      <div class="row">
                          <div class="span12">
                           <%= yield %>
                           </div>
                      </div>
                </div>
          </div>
      </div>
    </div>
    <%= render :partial => 'shared/feedback_element' %>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>
